<!-- Day 3 training -->

<!-- MessageBox -->
<label>MessageBox</label><br>
<!--textarea style="width:600px; height:200px;"
	    matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
	    cdkAutosizeMaxRows="10"> {{message | formatdate }} </textarea-->
    <textarea style="width:600px; height:250px; color:navy;" value="THIS IS READONLY" onkeydown="return false"> {{messagelist}}</textarea>
<br>
<br>
<br>
<hr>
<!-- input : is typing-->
<label>My input</label><br>

<input style="width:200px;" id="myText" (keydown)="onKeydown($event)" placeholder="Please Type here your message.">
<button mat-button (click)="onClick()">Send</button>
<p *ngIf=" userIsTyping " >is typing ....</p>
